button.nav-expander{
    .button-reset();
    display: block;
    z-index: 1050;
    width: 24px;
    color: currentColor;
    transition: all @trans-speed ease-in-out;

    svg{ 
        margin: 0 0 0 auto;
        display: block; 
        width: 12px;
        height: auto;
        path{ fill: currentColor; }
    }
    
    &[aria-expanded="true"]{
        svg{
            svg{ transform: scaleY(-1); }
        }
    }
}//button.nav-expander

.nav-search-button button{
    .button-reset();
    display: block;
    svg{ display: block; }
}

//handle caret layout for expander
.menu-item-has-children{
    > .menu-item-wrapper{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: 6px;
    }
}


ul.main-nav__menu{
    .plain-list();
    display: flex;
    gap: var(--gap, 2rem);

    > li{
        position: relative;
        > .menu-item-wrapper{
            position: relative;

            > a,
            > button{
                display: block;
                font: 700 1rem/1.2 @font-family-headings;
                color: @black;
                cursor: pointer;
                text-decoration: none;

                &:hover{ text-decoration: none; }
            }
        }

        &.nav-search-button{
            button{
                .button-reset();
                position: relative;

                svg{ 
                    display: block; width: 24px; height: auto; 
                    path{ fill: currentColor; }
                }
            }
        }
    
        //TOP ACTIVE STYLES
        // &:hover, &.current-menu-item, &.current-page-ancestor{
        //     > .menu-item-wrapper{ color: @blue; }
        // }
    }//li
}//ul.main-nav__menu


ul.main-nav__second{
    .plain-list();
    display: none;

    > li{
		display: block;
		> .menu-item-wrapper{
            > a{
                position: relative;
                display: block;
                padding: 8px 0;
                font: 700 (14/16rem)/1.2 @font-family-headings;
                color: @black;
    
                &:hover{ color: @blue; .text-underline(); }
            }
        } 
	}
}

ul.main-nav__third{
    .plain-list();
    display: none;
}

//DESKTOP MENU VIEW
@media @desktop-menu{
    ul.main-nav__menu{
        align-items: center;
		> li{
            padding: 10px 0;
            > .menu-item-wrapper{
                padding: 8px 0;
                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: @blue;
                    opacity: 0;
                    transform: translateY(6px);
                    transition: all @trans-speed ease-in-out;
                }

                > a{ white-space: nowrap; }
                button.nav-expander{ pointer-events: none; }
            }

            &.nav-search-button{
                button{
                    span{ 
                        //hide the text
                        .visuallyhidden(); 
                    }
                }
            }

            //TOP ACTIVE STYLES
            &:hover, &.current-menu-item, &.current-menu-ancestor,&:focus-within{
                > .menu-item-wrapper{
                    &:before{ opacity: 1; transform: translateY(0); }
                }
            }
            
            //dropdown shows
            &:hover, 
            &:has(.main-nav__second[data-visible="true"]){
                .main-nav__second{
                    display: block;
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            &:last-child,
            &:nth-last-child(2) {
                .main-nav__second{
                    left: auto;
                    right: -32px;
                }
            }

        }//li
    }//ul.main-nav__menu
    ul.main-nav__second{
        position: absolute;
        top: 100%;
        left: -32px;
        width: 250px;
        padding: 16px 32px 24px;

        background: @white;
        opacity: 0;
        transform: translateY(20px);
        transition: display @trans-speed allow-discrete,
                        opacity @trans-speed ease-in-out,
                        transform @trans-speed ease-in-out;
        z-index: 1060;

        //make sure 3rd level expander is hidden if there is one
        .nav-expander{ display: none; }

    }

    @starting-style{
        ul.main-nav__menu > li:hover{
            .main-nav__second{
                opacity: 0;
                transform: translateY(20px);
            }
        }
    }
}

//MOBILE MENU VIEW
@media @mobile-menu{

    .main-nav{
        padding: 100px 0;
        position: absolute;
        inset: 0 0 0 auto;
        width: 0;
        overflow: clip;
        background: @white;
        transition: width 350ms ease-out;
        z-index: 9998;

        &[data-visible="true"]{
            width: 400px;
        }
    }

    .main-nav--mobile-drop{
        padding: 0;
        position: absolute;
        inset: 100% 0 auto 0;
        width: 100%;
        overflow: clip;
        background: @white;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.09);
        z-index: 9998;

        height: 0;
        overflow: hidden;
        transition: height 300ms ease-in-out;

        &[data-visible="true"]{
            display: block;
            height: auto;
            width: 100%;
        }
    }

    .menu-item-has-children{
        > .menu-item-wrapper{
            grid-template-columns: 1fr auto;
        }
    }

    ul.main-nav__menu{
        width: 400px;
        padding: 0 25px;
        flex-direction: column;
        --gap: 0;

        > li{
            border-bottom: 1px solid @gray-f3;

            > .menu-item-wrapper{
                > a, > button{
                    padding: 20px 0;
                }
            }
            &.nav-search-button button{
                display: grid;
                gap: 8px;
                grid-template-columns: auto 1fr;
                align-items: center;
            }
        }


        .main-nav--mobile-drop &{
            width: 100%;
            padding: 20px @outer-gutter 50px;
        }

    }

    ul.main-nav__second{
        //initial hide
        display: none;
        height: 0;
        overflow: hidden;
        transition: height 300ms ease-in-out;

        > li{
            > .menu-item-wrapper > a{
                padding: 10px 0;
            }
        }

        &[data-visible="true"]{
            display: block;
            height: auto;
        }
    }

    //only shows on mobile
    ul.main-nav__third{
        .plain-list();
        padding-left: 15px;
        border-left: 2px solid @blue;

        //initial hide
        display: none;
        height: 0;
        overflow: hidden;
        transition: height 300ms ease-in-out;

        &[data-visible="true"]{
            display: block;
            height: auto;
        }

        > li{
            a{
                display: block;
                font: 700 (14/16rem)/1.2 @font-family-headings;
                padding: 5px 10px;
                color: @black;
            }
        }
    }
}

@media only screen and (max-width: 28.4375em){
    .main-nav[data-visible="true"],
    ul.main-nav__menu{
        width: 100vw;
    }
}