//styles for showing dropdown
.show-dropdown(){
	left: 50%;
	transform: translateX(-50%);
	opacity: 1;
}

nav.main-nav{
	position: relative;
	align-self: flex-end;
	z-index: (@zindex-base + 505);

	ul.menu{
		.plain-list();

		display: flex;
		align-items: center;
		justify-content: flex-end;

		li{ //top level li
			position: relative;
			padding-bottom: 15px;
			a{
				display: block;
				padding: 15px 20px;
				font: 700 16px/1.2 @font-family-headings;
				text-transform: uppercase;
				letter-spacing: .5px;

				&:hover{ text-decoration: none; }

			}

			//second level
			ul{
				.plain-list;
				position: absolute;
				left: -9999em;
				width: 200px;
				margin: 15px 0 0 0;
				padding: 10px 0;

				background: @white;
				opacity: 0;
				transition: opacity @trans-speed ease;
				z-index: (@zindex-base + 10);

				&:before{
					content: "";
					display: block;
					width: 20px;
					height: 20px;
					border-radius: 3px;
					background: @white;
					position: absolute;
					top: 0;
					left: 50%;
					transform: rotate(45deg) translateX(-50%);
				}

				li{
					display: block;
					padding: 0;
					a{
						padding: 10px 15px;
						color: @text-color;
						&:hover{ color: @primary-color1; }
					}
				}

				ul{ display: none; } //hide all other levels

				&.tab-show{
					.show-dropdown();
				}

			}//end second level ul

			//TOP ACTIVE STYLES
			&.current-menu-item, &.current-menu-ancestor{
				> a{ color: @white; }
			}
			//TOP HOVER STYLES
			&:hover{
				> a{ color: @white; }
				> ul{
					.show-dropdown();
				}
			}

			//LAST CHILD DROPDOWN BUT FAVOR RIGHT EDGE SO IT DOESNT RUN OF SCREEN
			&:last-child{
				//second level (dropdown)
				> ul{
					&:before{
						left: auto;
						right: 15px;
					}
				}
				> ul.tab-show,
				&:hover > ul{ left: auto; transform: none; right: 0; }
			}

		}//end li
	}//end ul.menu


	@media @tablet-all, @mobile-all{
		position: absolute;
		width: @off-canvas-width;
		height: 100%;
		top: 0;
		right: -(@off-canvas-width);
		left: auto; bottom: auto;
		padding: 20px;
		margin: 0;
		background: @white;

		&.main-nav-dropdown{
			display: none;
			position: absolute;
			width: 100%;
			height: auto;
			top: @header-height;
			left: 0;
			right: 0;
		}

		ul.menu{
			display: block;

			li{
				display: block;
				margin: 0;
				padding: 0;

				a{
					position: relative;
					z-index: @zindex-base;
					padding: 10px;
					color: @text-color;
				}

				&:hover{
					> a{ color: @primary-color1; }
				}

				&.menu-item-has-children{
					> a{
						margin-right: 35px;

						span.dropper{
							display: block;
							position: absolute;
							top: 0;
							right: -35px;
							width: 35px;
							height: 100%;
							cursor: pointer;
							&:before, &:after{
								content: "";
								display: block;
								position: absolute;
								top: 17px;
								right: 0px;
								width: 16px;
								height: 2px;
								background: @primary-color1;
							}
							&:after{
								transform: rotate(-90deg);
								transition: all @trans-speed ease;
							}
						}//end span.dropper
					}
					&.toggle{
						> a > span.dropper{
							&:after{ opacity: 0; transform: rotate(0deg); }
						}
					}
				}//end &.menu-item-has-children

				//second level
				ul{
					position: relative;
					left: auto;
					width: 100%;
					opacity: 1;
					display: none;
					border: 0;
					padding: 5px 0;
					margin: 0;
					background: none;

					&:before{ display: none; }

					li{
						padding: 0;
						border: 0;
						a{
							padding: 8px 0 8px 25px;
							font-size: 14px;
							&:hover{ color: @primary-color1; }
						}
						&.menu-item-has-children{
							> a{
								span.dropper{ &:before, &:after{ top: 14px; } }
							}
						}

						//third level
						ul{
							padding: 0;
							margin: 5px 0 8px 25px;
							border-left: 2px solid @black;
							li{
								a{
									padding: 8px 0 8px 10px;
									font-size: 12px;
									text-transform: none;
								}
								&:first-child a{ padding-top: 0; }
								&:last-child a{ padding-bottom: 0; }
							}
						}

					}//end second level li
				}

			}//end li
		}//end ul


	}//end media

}//end nav.mainNav
