nav.side-nav{

  //mobile slidedown trigger
  .side-nav-trigger {
    display: none;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    width: 100%;
    background: @gray-lighter;
    &:before, &:after{
      content: "";
      display: block;
      width: 18px;
      height: 3px;
      position: absolute;
      top: 28px;
      right: 15px;
      background: @primary-color1;
      border-radius: 4px;
      transition: all .25s ease;
    }
    &:after{ transform: rotate(90deg); }
    @media @tablet-all, @mobile-all{
      display: block;
    }
  }//end .side-nav-trigger

  .side-nav-menu {
    /*.side-nav-title {
        display: block;
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        background: @gray-lighter;
        &:hover{ background: darken(@gray-lighter, 10%); text-decoration: none; }
    }//end .side-nav-title*/

    ul{
      .plain-list();
        li{
            a{
              display: block;
              padding: 8px 0;
              .outer-gutter;
            }
            &.current-menu-item, &.current-menu-ancestor, &:hover{
              > a{
                  background: @primary-color1;
                  color: @white;
                  text-decoration: none;
              }
            }

              //tertiary/3rd level nav
              ul{
                li{
                  padding-left: 20px;

                  &.current-menu-item, &.current-menu-ancestor, &:hover {
                      > a {
                        background: none;
                        color: @primary-color1;
                        text-decoration: underline;
                      }

                  }
                }
              }//end ul

        }//end li
    }//end ul

    @media @tablet-all, @mobile-all{
      display: none;
      padding-top: 0;
      padding-bottom: 0;
      ul{
        li{
          a{ border-bottom: 1px solid @gray-lighter; }
          //third level
          ul{
            li{
              a{ border: 0; }
            }
          }
        }
      }
    }

  }//end .side-nav-menu


}//end nav.side-nav
