
.container{
	margin: 0 auto;
    //set 1440 as default
    .container--xl();
}

.container--xs{ max-width: 448px; } //xs
.container--sm{ max-width: 696px; } //sm
.container--md{ max-width: 944px; } //md
.container--lg{ max-width: 1192px; } //lg
.container--xl{ max-width: 1440px; } //xl

.outer-gutter{
	padding-left: @outer-gutter;
	padding-right: @outer-gutter;

	@media @mobile-sml{
		padding-left: @outer-gutter-m;
		padding-right: @outer-gutter-m;
	}
}

.site-wrapper{
	position: relative;
	max-width: @max-width;
	margin: 0 auto;
}

main.site-main{
	position: relative;
	display: block; //IE sometimes needs this :P
}
