.subnav-mobile-toggle{ display: none; }
ul.subnav__menu{
    .plain-list();
    display: flex;
    gap: var(--gap, 2rem);

    > li{
        position: relative;
        a{
            font: 700 1rem/1.2 @font-family-headings;
        }
        &.current-menu-item, &.current-menu-ancestor{
            > a{ 
                .text-underline();
            }
        }
    }
}

@media @desktop-subnav{
    .subnav-wrapper{
        .outer-gutter();
        padding-top: 20px;
        padding-bottom: 20px;
        background: @black;
    }
    ul.subnav__menu{
        justify-content: center;
    }
}

@media @mobile-subnav{
    .subnav-mobile-toggle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        .outer-gutter();
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        background: @black;
        text-align: left;
        color: @white;
        font: 700 (18/16rem)/1.2 @font-family-headings;
        cursor: pointer;

        svg{
            pointer-events: none;
            transition: all @trans-speed ease;
            g path{ fill: currentColor; }
        }

        &:hover{ text-decoration: none; }
        &[aria-expanded="true"]{
            svg{ transform: scaleY(-1); }
        }
    }
    .subnav{
        .outer-gutter();
        display: none;
        height: 0;
        overflow: hidden;
        transition: height 300ms ease-in-out;
		background: @gray-f3;

        &[data-visible="true"]{
            display: block;
            height: auto;
        }
    }
    ul.subnav__menu{
        --gap: 1rem;
        flex-direction: column;
        padding: 20px 0;
    }
}