{% set tab_count = acc_layout|length %}

<dl class="accordion">
  {% for acc in acc_layout %}
      {% if acc.title %}
        <dt data-id="{{loop.index}}" class="inactive">
          <h3 class="acc--title"><a href="#{{loop.index}}">
              {{ acc.title }}
          </a></h3>
        </dt>
        <dd class="rtecontent">
          {{ acc.content }}
        </dd>
    {% endif %}
  {% endfor %}
</dl>
