{% for layout in post.get_field('layouts') %}

{# RTE LAYOUT #}
{% if layout.acf_fc_layout == 'standard_content' %}
  <div class="rtecontent">
    {{ layout.content }}
  </div>
{% endif %}

{# IMAGE ROW - 1, 2 or 3 #}
{% if layout.acf_fc_layout == 'image_row' %}
      {% include 'partials/blocks/image-row.twig' with { image_row : layout.image_item } %}
{% endif %}
{# END ACCORDION #}

{# ACCORDION #}
{% if layout.acf_fc_layout == 'accordion' %}
      {% include 'partials/blocks/accordion.twig' with { acc_layout : layout.acc_panel } %}
{% endif %}
{# END ACCORDION #}

{# GALLERY #}
{% if layout.acf_fc_layout == 'slideshow_gallery' %}
      {% include 'partials/blocks/gallery.twig' with { gallery_images : layout.slideshow } %}
{% endif %}
{# END ACCORDION #}

{% endfor %}
