<div id="popup-search" class="popup-search mfp-hide">
	<div class="container">

        <button class="popup-search__close js-close-search"><span>Close</span> {{ source('img/icons/icon-close.svg') }}</button>
        {{ get_search_form() }}

	</div>
</div>