<form role="search" method="get" id="searchform" class="searchform" action="/" autocomplete="off">
	<h4 class="h1">Search</h4>
	<div class="search-fields">
		<input type="text" value="{{ search_query }}" name="s" id="s" placeholder="Enter search term..." autocomplete="off" />
		<button type="submit" id="searchsubmit" class="btn" /><span>search</span></button>
	</div>
</form>
