@import "base/variables.less";

*, *:before, *:after{ margin: 0; padding: 0; box-sizing: border-box; }

body{
    font: normal @font-size-base/@line-height @font-family-base;
    color: @text-color;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
	line-height: @headings-line-height;
	font-family: @font-family-headings;
	font-weight: @headings-font-weight;
	color: @headings-color;
}

h1, .h1{ margin: 0 0 30px 0; }
h2, h3, .h2, .h3{ margin: 20px 0; }
h4, h5, h6, .h4, .h5, .h6{ margin: 10px 0; }

h1, .h1{ font-size: @font-size-h1; }
h2, .h2{ font-size: @font-size-h2; }
h3, .h3{ font-size: @font-size-h3; }
h4, .h4{ font-size: @font-size-h4; }
h5, .h5{ font-size: @font-size-h5; }
h6, .h6{ font-size: @font-size-h6; }

a {
    color: @link-color;
    text-decoration: none;
    transition: all @trans-speed ease;

	&:hover{ text-decoration: underline; }

	img{ border: 0; }

}

img{ max-width: 100%; height: auto !important; }

p { margin: 20px 0; }

ol, ul{
	margin: 25px;
	li{
		margin: 10px 0;
		> ul,
		> ol {
			margin: 5px 0 10px 25px;
		}
	}
}

dd{ margin: 20px; }

hr { border: 0; border-bottom: 1px solid @gray-f3; height: 0px; margin: 30px 0; padding: 0; width: 100%; }
pre, code, blockquote {
    padding: 30px;
    background: @gray-f3;
}

*:first-child{ margin-top: 0; }
*:last-child{ margin-bottom: 0; }

.mceTemp + *{ margin-top: 0; } //anything after image insert

.alignleft {
	display: block;
	float: left;
	margin-right: 30px;
}

.alignright {
	display: block;
	float: right;
	margin-left: 30px;
}

.aligncenter {
    display: block;
    margin: 20px auto;
	clear: both;
}

.wp-caption-dd{
    padding: 0;
    margin: 5px 0 0;
    text-align: center;
	font-size: @font-size-base - 4px;
}
