# Ignore artifacts/ghost files
.DS_Store
._*
config.codekit

# Ignore dev dependencies
/node_modules
/bower_components
/doc
/vendor
/wp
/wp-content
/js/browserified

# Release artifacts
/*.zip
/*.tar
/*.tar.gz
/groot-v*/

# Webpack artifacts
print.js*
style.js*
