{% extends 'layouts/main.twig' %}


{% block main_content %}
<section class="page blog-layout">
  <div class="container">

  {% block side_content %}
    {% include 'partials/blog/blog-sidebar.twig' %}
  {% endblock %}


  {% block blog_content %}{% endblock %}


  </div>
</section>
{% endblock %}
