{% extends 'layouts/main.twig' %}

{% block main_content %}

{% block filter_bar %}
    {% include 'partials/blog/blog-filterbar.twig' %}
{% endblock %}

<section class="page general-interior blog-layout outer-gutter">
    <div class="container">


        {% block blog_content %}{% endblock %}


    </div><!-- END .container -->
</section>
{% endblock %}
