{% extends 'layouts/main.twig' %}


{% block main_content %}
<section class="page-layout blog-layout">


  {% block side_content %}
    {% include 'partials/blog/blog-sidebar.twig' %}
  {% endblock %}

    <section class="main-content-area">
    {% block blog_content %}{% endblock %}
  </section>


  </section>
{% endblock %}
