{% extends 'layouts/main.twig' %}


{% block main_content %}
<section class="page-layout interior-layout">
    <div class="container">

  {% block side_content %}
    {% include 'partials/side-nav.twig' with { menu: primary_menu, post: post } only %}
  {% endblock %}

  <section class="main-content-area">
    {% block interior_content %}{% endblock %}
  </section>

</div>
</section>
{% endblock %}
