{% extends 'layouts/main.twig' %}


{% block main_content %}

<section class="page top_bottom_gutters">
	<div class="container">

		{% include 'partials/side-nav.twig' with { menu: primary_menu, post: post } only %}

		{% block interior_content %}{% endblock %}

	</div>
</section>

{% endblock %}