{% extends 'layouts/main.twig' %}

{% block main_content %}

<section class="page general-interior outer-gutter">
    <div class="container">


        {% block side_content %}
            {% include 'partials/side-nav.twig' with { menu: primary_menu, post: post } only %}
        {% endblock %}


        {% block interior_content %}{% endblock %}


    </div><!-- END .container -->
</section>

{% endblock %}
