{% extends 'partials/blog/blog-entry.twig' %}

{# We don't want to redefine the entire blog entry article layout,
we just want to define how certain pieces of the template behave.
In this case, we might just want a "Read More" button at the bottom #}

{# block before_post_header #}

{# block post_header #}

{% block before_content %}{% endblock %} {# we want the image before the title #}

{% block post_content %}
	<div class="post-excerpt">{{ post.content | excerpt }}</div>
{% endblock %}

{% block after_content %}
  	{{ parent() }}

	<div class="more-wrapper">
		<a href="{{ post.link }}" class="btn">Read More</a>
	</div>

{% endblock %}
