{% if post.get_categories %}
<div class="post-categories">
	<h6 class="post-categories__label">Categories:</h6>
	<div class="post-categories__list">
	{% for category in post.get_categories %}
		<a href="{{ category.link }}">{{ category }}</a>{{ loop.last ? '' : ',' }}
	{% endfor %}
	</div>
</div>
{% endif %}
