{% if post.get_categories %}
<div class="post-categories">
	<span>Categories:</span>
	{% for category in post.get_categories %}
		<a href="{{ category.link }}">{{ category }}</a>{{ loop.last ? '' : ',' }}
	{% endfor %}
</div>
{% endif %}
