{% if post.get_tags %}
<div class="post-categories">
	<span>Tags:</span>
	{% for tag in post.get_tags %}
		<a href="{{ tag.link }}">{{ tag }}</a>{{ loop.last ? '' : ',' }}
	{% endfor %}
</div>
{% endif %}
