{% if post.tags %}
<div class="post-categories">
	<div class="post-categories__label">Tags:</div>
	<div class="post-categories__list">
        {% for tag in post.tags %}<a href="{{ tag.link }}">{{ tag }}</a>{% endfor %}
    </div>
</div>
{% endif %}
