{% extends 'layouts/main.twig' %}

{% block main_content %}
<section class="page">
  <div class="container">

		<section class="main-content-area">
	    <div class="main-content top_botton_gutter outer-gutter">

				<h1>404 Page Not Found</h1>
				<p>The page you were looking for could not be found.</p>

			</div>
		</section>

	</div>
</section>
{% endblock %}
