{% extends 'layouts/main.twig' %}

{% block main_content %}

	<section class="page-layout home-layout">

			{% for post in posts %}
				<article class="{{post.class}}">
					<h1>{{ post.title }}</h1>

					<h2>front-page.twig</h2>

					<div class="post-content">{{ post.content }}</div>

					<p>
						Using Timber with Twig version: <tt>{{ constant('Twig_Environment::VERSION') }}</tt>
					</p>
				</article>
			{% endfor %}

	</section>

{% endblock %}
