{% extends 'layouts/main.twig' %}

{% block main_content %}

<section class="hero flexslider">
<ul class="slides">

  {# Render some pseudo-dynamic data in a slideshow #}
  {% for slide in [
    {
      background_image_url: 'https://placehold.it/1500x690&text=One',
      caption: 'Caption for slide one',
    },
    {
      background_image_url: 'https://placehold.it/1500x690&text=Two',
      caption: 'Caption for slide two',
    },
    {
      background_image_url: 'https://placehold.it/1500x690&text=Three',
      caption: 'Caption for slide three',
    },
    {
      background_image_url: 'https://placehold.it/1500x690&text=Four',
      caption: 'Caption for slide four',
    },
  ] %}

    <li style="background-image: url({{ slide.background_image_url }});">
      <div class="caption outer-gutter">
        <div class="text">
          <h2>{{ slide.caption }}</h2>
          <a class="btn btn--lrg" href="">Learn more</a>
        </div>
      </div>
    </li>

  {% endfor %}

</ul>
</section>

<section class="top-bottom-gutter outer-gutter">
	<div class="container">

		<h1>{{ post.title }}</h1>
		<div class="rtecontent">{{ post.content }}</div>

		<h2>Responsive Grid Example</h2>
		<p>http://flexboxgrid.com/ - see less/structure/flexboxgrid.less</p>
		<div class="flex-row">

      {# Render a pseudo-dynamic flexbox grid #}
			{% for i in 0..7 %}

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="box">
            <img src="http://placehold.it/350x250" alt="" class="full-img" />
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
          </div>
        </div>

			{% endfor %}

		</div><!-- END .flex-row -->

	</div>
</section>

{% endblock %}
