{% extends 'layouts/main.twig' %}

{% block main_content %}

	<section class="top_botton_gutter outer-gutter">

			{% for post in posts %}
				<article class="{{post.class}}">

					<h1>{{ post.title }}</h1>
					<div class="post-content">{{ post.content }}</div>

					<h2>front-page.twig</h2>
					<p>Using Timber with Twig version: <tt>{{ constant('Twig_Environment::VERSION') }}</tt></p>


				</article>
			{% endfor %}

	</section>

{% endblock %}
