{% extends 'layouts/blog.twig' %}

{% block blog_content %}
	{% for post in posts %}
		{% include 'partials/blog-entry-archive.twig' %}
	{% endfor %}

  <div class="pagination">
    {{ paginate_links() }}
  </div>
{% endblock %}
