{% extends 'layouts/blog.twig' %}

{% block blog_content %}
	<div class="main-content full">

		{% for post in posts %}
			{% include 'partials/blog/blog-entry-archive.twig' %}
		{% endfor %}

	  <div class="pagination">
	    {{ paginate_links() }}
	  </div>

	</div>
{% endblock %}
