{% extends 'layouts/blog.twig' %}

{% block blog_content %}
<section class="main-content-area">
	<div class="main-content outer-gutter">

		{% for post in posts %}
			{% include 'partials/blog/blog-entry-archive.twig' %}
		{% endfor %}

	  <div class="pagination">
	    {{ paginate_links() }}
	  </div>

	</div>
</section>
{% endblock %}
