{% extends 'layouts/main.twig' %}

{% block main_content %}
<section class="main-content-area">

	<div class="article-list">
		{% for post in posts %}
			{% include 'partials/blog/blog-entry-archive.twig' %}
		{% endfor %}
	</div><!-- END .article-list -->

	  <div class="post-navigation">
	    {{ paginate_links() }}
	  </div>

</section>
{% endblock %}
