{% extends 'layouts/main.twig' %}

{% block main_content %}

<section class="pattern">
    <div class="container">

      <div class="flex-row center-lg gutter-lg-fat gutter-md-default">

            {# SIDE NAV | col-side-nav #}
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                {% include 'partials/subnav.twig' with { menu: primary_menu, post: post } only %}
			</div>

            {# MAIN COLUMN #}
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

				<h1>{{ post.meta('main_headline')|default(post.title) }}</h1>
               
			    <div class="flex-patterns flex-patterns--remove-outer-gutter sitka-search-content-container">
					
					{# FLEXIBLE LAYOUTS #}
                    {% include 'partials/content-layouts.twig' with { layouts: post.meta('layouts') } only %}

                </div>
                
            </div>


        </div><!-- //flex-row -->

    </div><!-- END .container -->
</section>

{% if post.meta('include_call_to_action') %}
	{% include 'partials/content-layouts/call_to_action.twig'
		with {
			layout : post.meta('call_to_action')
		}
	%}
{% endif %}

{% endblock %}
