{% extends 'layouts/main.twig' %}

{% block main_content %}

{% include 'partials/hero-interior.twig' with { page_title : post.meta('main_headline')|default(post.title) } %}

{# SIDE NAV #}
{% include 'partials/blocks/subnav.twig' with { menu: primary_menu } %}

{# FLEXIBLE LAYOUTS #}
<div class="flex-patterns sitka-search-content-container">

    {% include 'partials/content-layouts.twig' with { layouts: post.meta('default_layouts') } %}

    {% if post.meta('call_to_action_toggle') %}
        {% include 'partials/content-layouts/call_to_action.twig'
            with {
                layout : post.meta('call_to_action')
            }
        %}
    {% endif %}

</div>

{% endblock %}
