{% extends 'layouts/main.twig' %}

{% block main_content %}

<section class="column-layout outer-gutter">
    <div class="container">

      <div class="flex-row center-lg gutter-lg-fat gutter-md-default">

        <div class="rtecontent">{{ post.content }}</div>

            {# SIDE NAV | col-side-nav #}
            {% block side_nav %}
                {% include 'partials/side-nav.twig' with { menu: primary_menu, post: post } only %}
            {% endblock %}

            {# MAIN COLUMN #}
            <div class="col-main-content{{ post.get_field('include_sidebar') and primary_menu.get_current_top_level_item().get_children() ? ' middle-content' }}">
                <h1>{{ post.get_field('main_headline') ? post.get_field('main_headline') : post.title }}</h1>

                {# FLEXIBLE LAYOUTS #}
                {% include 'partials/content-layouts.twig'
                  with { layouts: post.get_field('layouts') } only
                %}

            </div>

            {# SIDE COLUMN #}
            {% if post.get_field('include_sidebar') %}
                {% include 'partials/side-bar.twig' with { blocks : post.get_field('sidebar_content') } %}
            {% endif %}

        </div><!-- //flex-row -->

    </div><!-- END .container -->
</section>

{% endblock %}
