{% extends 'layouts/main.twig' %}

{% block main_content %}

<section class="pattern column-layout outer-gutter">
    <div class="container">

      <div class="flex-row center-lg gutter-lg-fat gutter-md-default">

            {# SIDE NAV | col-side-nav #}
            {% block side_nav %}
                {% include 'partials/side-nav.twig' with { menu: primary_menu, post: post } only %}
            {% endblock %}

            {# MAIN COLUMN #}
            <div class="col-main-content{{ post.meta('include_sidebar') and primary_menu.get_current_top_level_item().get_children() ? ' middle-content' }}">

                <h1>{{ post.meta('main_headline') ? post.meta('main_headline') : post.title }}</h1>
                <div class="rtecontent">{{ post.content }}</div>

                {# FLEXIBLE LAYOUTS #}
                {% include 'partials/content-layouts.twig' with { layouts: post.meta('layouts') } only %}

            </div>

            {# SIDE COLUMN #}
            {% if post.meta('include_sidebar') %}
                {% include 'partials/side-bar.twig' with { blocks : post.meta('sidebar_content') } %}
            {% endif %}

        </div><!-- //flex-row -->

    </div><!-- END .container -->
</section>

{% include 'partials/call-to-action.twig' %}

{% endblock %}
