{% extends 'layouts/interior.twig' %}

{% block interior_content %}
    <div class="main-content">
    	<h1>{{ post.title }}</h1>
    	<div class="rtecontent">
    		{{ post.content }}
    	</div>
    </div>

    <aside class="side-panel">
        Optional Side Panel
    </aside>

{% endblock %}
