{% extends 'layouts/main.twig' %}

{% block main_content %}

{% include 'partials/hero-interior.twig' with { page_title : post.title } %}

<section class="pattern">
    <div class="container container--md">


		<h2>Password Protected</h2>
		{{ password_form }}


	</div>
</section>
{% endblock %}
