{% extends 'layouts/main.twig' %}

{% block main_content %}

<section class="hero-interior hero-interior--search-header">
    <div class="container container--md">

        {% if search_query %}
            <h1 class="title h2">Search Results for: {{ search_query }}</h1>
        {% else %}
            <h1 class="title">Search</h1>
        {% endif %}
        <form role="search" method="get" class="searchform" action="/" autocomplete="off">
            <label for="s" class="sr-only">Search</label>
            <div class="search-fields">
                <input type="text" value="{{ search_query }}" name="s" id="s" placeholder="Enter search term..." autocomplete="off" />
                <button type="submit" class="btn" />Search</button>
            </div>
        </form>

    </div>
</section>

<section class="pattern pattern--search-results">
    <div class="container container--md">

        {% for post in posts %}
            {% include 'partials/cards/search-card.twig' with {
                card : {
                    label : post.post_type,
                    title : post.title,
                    snippet : post.meta('_yoast_wpseo_metadesc')|default('Sample default content right here. sample default content right here. sample default content right here. sample default content right here. sample default content right here. sample default content right here. sample default content right here.'),
                    link : post.link
                }
            } %}
        {% else %}

            <p>Sorry, we couldn't find anything about <strong>{{ search_query }}</strong>, please try again.</p>

        {% endfor %}

        <div class="post-pagination post-pagination--numbers">
            {{ paginate_links(
                {
                    'prev_text': source('img/arrows/streamline-chevron-left@20x20.svg') ~ " Prev", 
                    'next_text': "Next " ~ source('img/arrows/streamline-chevron-right@20x20.svg')
                }
            ) }}
        </div> 

	</div><!-- END .container -->
</section>
{% endblock %}
