{% extends 'layouts/main.twig' %}

{% block main_content %}
	{% if posts %}
		<p>{{ posts | length }} result(s) for <strong>{{ search_query }}</strong>:</p>

		{% for post in posts %}
			{% include 'partials/blog-entry-archive.twig' %}
		{% endfor %}

	{% else %}
		<p>Sorry, we couldn't find anything about <strong>{{ search_query }}</strong></p>
	{% endif %}
{% endblock %}