{% extends 'layouts/interior.twig' %}

{% block interior_content %}


	<section class="main-content-area">
    <div class="main-content top_botton_gutter outer-gutter">

				{% if posts %}
					<p>{{ posts | length }} {{ 'result' | pluralize(posts|length)}} for <strong>{{ search_query }}</strong>:</p>

					{% for post in posts %}
						{% include 'partials/blog/blog-entry-archive.twig' %}
					{% endfor %}

				{% else %}
					<p>Sorry, we couldn't find anything about <strong>{{ search_query }}</strong></p>
				{% endif %}

		</div>
	</section>



{% endblock %}
