{% extends 'layouts/main.twig' %}

{% block main_content %}

<section class="pattern column-layout outer-gutter">
    <div class="container">

            <h1>Search</h1>

			{% if posts %}
				<p>{{ posts | length }} {{ 'result' | pluralize(posts|length)}} for <strong>{{ search_query }}</strong>:</p>

				{% for post in posts %}
					{% include 'partials/blog/article-card.twig' %}
				{% endfor %}

			{% else %}
				<p>Sorry, we couldn't find anything about <strong>{{ search_query }}</strong></p>
			{% endif %}


	</div><!-- END .container -->
</section>
{% endblock %}
