<form role="search" method="get" id="searchform" class="searchform" action="/">
	<div class="search-inputs">
		<input type="text" value="{{search_query}}" name="s" id="s" placeholder="Search for..." />
		<input type="submit" id="searchsubmit" value="Search" />
	</div>
</form>