{% extends 'layouts/blog.twig' %}

{% block blog_content %}
<section class="main-content-area">
	<div class="main-content top-bottom-gutter outer-gutter">

		{% include 'partials/blog/blog-entry-single.twig' %}
		
	</div>
</section>
{% endblock %}
