{% extends 'layouts/main.twig' %}

{% block main_content %}
<div class="sitka-search-content-container">

{% include 'partials/content-layouts/standard_content.twig'
    with {
        layout : {
            isH1 : true,
            section_headline : post.meta('main_headline')|default(post.title),
            content : post.meta('intro_content')
        }
    }
%}




{% if post.meta('include_call_to_action') %}
	{% include 'partials/content-layouts/call_to_action.twig'
		with {
			layout : post.meta('call_to_action')
		}
	%}
{% endif %}

</div>
{% endblock %}
