<section class="pattern pattern--accordion">
    <div class="container">
        {% include 'partials/blocks/accordion.twig' with {
          acc_layout : layout.acc_panel
        } %}
    </div>
</section>
