{#
    Featured Posts Pattern

#}

{% if layout.type_of_posts == 'custom' %}
    {# get custom selected cards #}
    {% set posts = layout.custom_posts %}
{% elseif layout.type_of_posts == 'category' %}
    {# project/Twig/ThemeTwigHelper.php
        get_posts_pattern(post type, count, taxonomy, taxonomy id) 
    #}
    {% set posts = get_posts_pattern('post',3,'category',layout.posts_by_category) %}
{% else %}
    {# get latest 3 posts #}
    {% set posts = get_latest_posts(3) %}
{% endif %}

<section class="pattern">
	<div class="container">

        <header class="pattern__header">
            <h2>{{ layout.section_headline }}</h2>
        </header>
        
		<div class="grid-container">
		{% for item in posts %}

            {% include 'partials/cards/article-card.twig' with { 
                post : layout.type_of_posts == 'custom' ? item.card : item, 
                cardCrop : 'article-card' 
            } %}

		{% endfor %}
        </div>

        <footer class="pattern__footer">
            <a class="btn" href="{{ get_blog_url() }}">View All</a>
        </footer>

	</div>
</section>