<section class="pattern pattern--standard-content">
    <div class="container">
        {% if layout.isH1 %}
            <h1>{{ layout.title }}</h1>
        {% else %}
            <h2>{{ layout.title }}</h2>
        {% endif %}
        <div class="rtecontent"> {{ layout.content }}</div>
    </div>
</section>
