.card-article{
    position: relative;
    margin: 0 0 20px 0;
    width: 100%;
	background: @gray-f3;

    display: flex;
    flex-flow: column;
	
	.pattern--article-footer &{
		//article-footer has a gray background so we want to reverse out the cards
		background: @white;
	}

    .card-article__image{
        position: relative;
        aspect-ratio: 380 / 250;
        overflow: hidden;
        background: @gray-6e;
        img{ 
            position: relative;
            display: block; 
            width: 100%; 
            height: 100%;
            object-fit: cover;
        }
    }

    .card-article__content{
        padding: 30px;
        flex: 1;
        display: flex;
        flex-flow: column;
        align-items: start;

        .title{ 
            margin: 0 0 5px; 
            a{
                text-decoration: none;
                color: @headings-color;
                &:hover{ color: @headings-color; }

                //make whole card clickable
                &:before{
                    content: "";
                    position: absolute;
                    inset: 0;
                }
            }
        }
        .date{ font-size: (12/16rem); }
        .excerpt{ margin-top: 15px; margin-bottom: 20px; }
        .btn{ margin-top: auto; }

    }

    &:hover{
        .btn{
            .btn-hover();
        }
    }

}