.btn{
    display: inline-grid;
    align-items: center;
    justify-items: center;
    min-height: @input-height;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 0;
    border: 0;

    color: @black;
    text-align: center;
    text-transform: uppercase;
    font: 700 1rem/1.1 @font-family-headings;
    text-decoration: none;

    background: @blue;
    -webkit-appearance: none;

    transition: all @trans-speed ease;

    &:hover {
        text-decoration: none;
        background: darken(@blue,5%);
    }

}

.btn--dark{
    background: @black;
    color: @white;
    &:hover{ 
        color: @blue;
        background: @black;
    }
}

.btn--disabled{
    background: @gray-f3;
    color: @black;
    cursor: not-allowed;
    &:hover{ background: @gray-f3; }
}
