.btn, input[type="submit"], button {
  cursor: pointer;
  min-width: 120px;
  border-radius: 0;
  padding: 15px 20px;
  display: inline-block;
  border: 1px solid @black;

  color: @white;
  line-height: 1;
  text-align: center;
  font-size: 16px;

  background: @primary-color1;
  -webkit-appearance: none;

  transition: all .25s ease;

	&:hover {
	  text-decoration: none;
	  background: darken(@primary-color1,5%);
	}

    &.disabled{
        background: @gray-lighter;
        border-color: @gray-light;
        color: @gray-light;
        cursor: not-allowed;
        &:hover{ background: @gray-lighter; }
    }


}
