.flexslider{
    position: relative;
}

/*===========================
    DIRECTIONAL NAV - ARROWS
=============================*/
ul.flex-direction-nav{
    li{
        a{
            display: block;
            position: absolute;
            top: 50%;
            width: 50px;
            height: 50px;
            transform: translateY(-50%);

            background: @blue url('@{theme-path}img/arrows/chevron-left-white.svg') center center no-repeat;
            .hide-text();
            z-index: 501;

            &.flex-prev{ left: 0; }

            &.flex-next{
                right: 0;
                background-image: url('@{theme-path}img/arrows/chevron-right-white.svg');
            }

            &:hover{
                background-color: darken(@blue, 10%);
            }
        } //end a
    }//end li
}//end flex-direction-nav

/*===========================
    PAGING - DOTS
============================*/
ol.flex-control-paging{
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    z-index: 5;
    li{
        display: inline-block;
        a{
            position: relative;
            display: block;
            width: 30px;
            height: 35px;
            .hide-text();

            &:before{
                content: "";
                display: block;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background: @gray-cc;
                transition: all @trans-speed ease;
            }
            &.flex-active, &:hover{
                &:before{ background: @blue; }
            }
        }
    }
}//ol.flex-control-paging

/*===========================
    PAGING - THUMBNAILS
===========================*/
ol.flex-control-thumbs{
   display: flex;
   flex-flow: row wrap;
   justify-content: flex-start;
   margin-left: -5px;
   margin-right: -5px;

   li{
     position: relative;
     padding-left: 5px;
     padding-right: 5px;
     flex-basis: 20%;
     max-width: 20%;

     img{
       display: block;
       margin: 10px 0 0 0;
       width: 100%;
       opacity: .5;
       transition: all @trans-speed ease;
       cursor: pointer;

       &:hover,
       &.flex-active{
         opacity: 1;
       }
     }

   }//end li

   @media @mobile-sml{ display: none; }

 } //end ol.flex-control-thumbs
