// Forms
// -------------------------
@input-bg:                       @white;
@input-bg-disabled:              @gray-f3;

@input-color:                    @text-color;
@input-border:                   @black;

@input-border-focus:             @blue;

@input-color-placeholder:        lighten(@black,15%);
@input-font-size:                1rem;

@input-height:                   (50/16rem);
@input-padding:                  10px;

// Forms
// --------------------------------------------------
label, .field-label {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: (14/16rem);
}

// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control`
// to any input type not listed here
input[type=text],
input[type=password],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="number"],
select,
textarea,
.form-control{
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;

    display: block;
    box-sizing: border-box;
    height: @input-height;
    padding: @input-padding;

    font-size: @input-font-size;
    line-height: 1.2;

    color: @input-color;
    background: @input-bg;

    border: 1px solid @input-border;

    // Customize the `:focus` state to imitate native WebKit styles.
    &:focus {
        border-color: @input-border-focus;
        outline: 0;
    }

    // Placeholder styles
    .placeholder();

    // Disabled and read-only inputs
    &[disabled],
    &[readonly]{
        cursor: not-allowed;
        background-color: @input-bg-disabled;
    }
}

select,
.form-control--select{
    padding-right: 45px;
    background-image: url('@{theme-path}img/arrows/streamline-chevron-down@20x20.svg');
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: right 10px center;
}
select::-ms-expand{
    /* for IE 10+ */
    display:none;
}

select[multiple]{
    background-image: none;
    height: 100px;
}

textarea{
	height: 150px;
}


// CUSTSOMIZE STYLED - Checkboxes and radios
input[type=checkbox],
input[type=radio],
input[type=range],
input[type=progress]{
    accent-color: @blue;
}

input[type=checkbox],
input[type=radio]{
    width: 20px;
    height: 20px;

    + label{ 
        font-weight: 400; 
        font-size: @input-font-size;
    }
} 

// Apply same disabled cursor tweak as for inputs
// Note: Neither radios nor checkboxes can be readonly.
input[type="radio"],
input[type="checkbox"]{
    &[disabled]{
        cursor: not-allowed;
    }
}

.search-fields{
    display: flex;

    input{
        height: auto;
        flex: 1;
        border-right: 0;
    }
    button{ 
        flex: 0 0 auto;
    }

}