
// /* ==========================
//     GRAVITY FORMS
//     - Adjustment to built in gravity form styles using Gravity Forms 2.5 Theme
//     - Orbital Gravity Forms theme is harder to overwrite and is intended for use with the block editor
//     - gravity form stylesheets are enqueued after our styles so we have to make sure our specificity is up really high
// =============================*/
body .gform_wrapper.gravity-theme{


    //BUTTONS
    .gform-theme-button,
    .gform_previous_button.button,
    .gform_save_link.button,
    .gform_button{
        .btn();
    }


    //FORM HEADING
    .gform_heading{
        margin-bottom: (25/16rem);

        //h2
        .gform_title{ margin: 0 0 5px;}
        .gform_description{
            display: block;
            margin-top: 10px;
        }

        .gform_required_legend{ 
            margin-top: 10px;
            font-size: (14/16rem);
            font-weight: 700;
        }

    }

    //VALIDATION STYLES
    .gfield_required{
        color: @error;
        font-size: inherit;
    }
    .gform_validation_errors{
        border-color: @error;
        padding: 16px;
        box-shadow: none;
        border-radius: 0;
        
        > h2{
            .h5();
            color: @error;

            .gform-icon{ display: none; }
        }
        ol>li{
            &::marker{ color: @error; }
            a{ color: @error; }
        }

        &:focus{
            outline: 0;
        }

    }
    .gfield_error .gfield_repeater_cell label, 
    .gfield_error label, 
    .gfield_error legend, 
    .gfield_validation_message, 
    .validation_message, 
    [aria-invalid=true]+label, 
    label+[aria-invalid=true]{
        color: @error;
    }
    .gfield_error [aria-invalid=true]{
        border: @input-border-width solid @error;
    }
    .validation_message{
        padding: 10px;
        font-size: (14/16rem);
        font-weight: 700;
        border-color: @error;
    }


    //FORM FIELDS
    .gfield_label{
        .field-label();
    }

    .gfield_header_item, 
    .gform_fileupload_rules, 
    .ginput_complex label{
        font-size: (14/16rem);
        font-weight: 400;
    }

    input[type=color],
    input[type=date], 
    input[type=datetime-local], 
    input[type=datetime], 
    input[type=email], 
    input[type=month], 
    input[type=number], 
    input[type=password], 
    input[type=search], 
    input[type=tel], 
    input[type=text], 
    input[type=time], 
    input[type=url], 
    input[type=week], 
    select, 
    textarea{
        .form-control();
    }

    select{
        .form-control--select();
    }

    .gfield_checkbox label, 
    .gfield_radio label{
        font-size: @input-font-size;
    }

    //SECTION BREAK
    .gsection{
        padding: 15px 0 0 0;
        border-bottom-color: @gray-cc;
        .gsection_title{ margin: 0; }
        .gsection_description{ 
            display: block;
            padding: 0;
            margin-bottom: 10px;
            .body-copy();
        }
    }

}
// body .gform_wrapper.gravity-theme{

//     .gform_validation_errors{
//         background: transparent;
//         border-radius: 0;
//         border: 0;
//         background: @gray-f3;
//         border-left: 2px solid @error;
//         box-shadow: none;
//         margin: 0 0 20px 0;
//         padding: 25px 25px 25px 25px;

//         > h2{
//             font-size: (24/16rem);
//             line-height: 1.2;
//             font-weight: @headings-font-weight;
//             color: @text-color;

//             .gform-icon{ display: none; }
//         }
//     }

//     



//     .gform_fields{
//         grid-row-gap: 30px;
//     }






//     //correction for custom styled radio/checkboxes
//     .gchoice{
//         position: relative;
//     }
//     .gfield_checkbox label, 
//     .gfield_radio label{
//         font-size: @input-font-size;
//     }

//     .gfield_error{
//         input[type="checkbox"] + label, input[type="radio"] + label{
//             color: inherit;
//         }
//     }

//     //section field
//     .gsection{
//         padding: 0 0 15px;

//         //h3
//         .gsection_title{ margin: 0; }
//         .gsection_description{ 
//             display: block;
//             margin: 5px 0 0 0;
//             padding: 0;
//             .body-copy();
//         }
//     }

//     //time field corrections
//     .ginput_container_time{
//         flex-basis: auto;
//         max-width: none;
//     }
//     .hour_minute_colon{ align-self: center; }

//     //file upload
//     .gform_fileupload_rules{
//         font-size: (14/16rem);
//     }

//     .ginput_complex label{
//         font-size: (14/16rem);
//         font-weight: 400;
//     }


//     //FIELD ERRORS
//     .gfield_error [aria-invalid=true]{
//         border-color: @error;
//         //background-color: lighten(@error, 48%);
//     }
//     .gfield_validation_message{
//         background: transparent;
//         border: 0;
//         padding: 0;
//         font-size: (14/16rem);
//         color: @error;
//         font-weight: 700;
//         &:before{
//             content: "*";
//         }
//     }
// }

// //CONFIRMATION
// .gform_confirmation_wrapper{
//     margin: 40px 0;
//     .gform_confirmation_message{
//         position: relative;
//         background: @gray-f3;
//         border: 0;
//         border-left: 2px solid @blue;
//         overflow: hidden;
//         box-shadow: none;
//         margin: 0;
//         padding: 17px 15px 17px 25px;

//         font-size: 1rem;
//         line-height: 1.7;
//     }
// }