.post-password-form{
    max-width: 696px;
    > p:has(label + input){
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        label{
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
    input[type="password"]{ margin-top: 10px; }
    input[type="submit"]{
        .btn();
        margin-top: auto;
        text-align: left;
        height: @input-height;
        flex: 0 0 auto;
    }
    .post-password-form-invalid-password{
        margin-bottom: 5px;
        font-weight: 700;
        color: @error;
    }
}