.popover{
    padding: 100px;
	width: 100%;
    max-width: 1040px;
    background-color: @white;
    border: 0;

    &::backdrop{ background-color: rgba(0,0,0,.7); }
    
}

.popover-search-form{
    label{ 
        display: block;
        margin: 0 0 15px; 
    }
}

.popover__close{
    .button-reset();
	display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 10px;
    align-items: center;
	position: absolute;
    top: 20px;
	right: 20px;
	font: 700 1rem/1.2 @font-family-headings;
	color: @black;
    transition: all @trans-speed ease;
    z-index: 500;

	svg polygon{ fill: currentColor; }
	&:hover{
		.text-underline();
	}
}