.pagination{
    margin-top: 40px;
    padding-top: 40px;
    border-top: 2px solid @gray-f3;
}

/* PREV/NEXT BUTTONS ONLY */
.post-button-pagination{

    display: flex;
    justify-content: space-between;
    column-gap: 5px;

    @media @mobile-all{
		margin: 30px 0;

        .nav-previous, .nav-next{
			flex: 1;
            display: flex;
            .btn{
                min-width: 0;
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
		}
		
    }

}

/* PAGINATE_LINKS() */
.post-numbers-pagination{

	ul.page-numbers{  
        .plain-list();
        display: flex;
		justify-content: center;
        align-items: center;
        column-gap: 12px;
        font: 700 1rem/1.1 @font-family-headings;

        .page-numbers:not(.prev):not(.next){
            display: grid;
            place-items: center;
            width: (32/16rem);
            height: (32/16rem);
            border-radius: 50%;
            background-color: @gray-f3;
            text-decoration: none;

            &:hover{ 
                .text-underline();
                background-color: darken(@gray-f3, 10%); 
            }

            &.current{ background-color: @blue; }
        }

		.prev, .next{ 
			position: relative;
            display: inline-grid;
            align-items: center;
            column-gap: 5px;
			svg{ 
				display: block;
				width: 10px;
                height: auto;
				path{ fill: currentColor; }
			}
		}
		.prev{ grid-template-columns: auto 1fr; }
		.next{ grid-template-columns: 1fr auto; }

	}//.page-numbers

}
