
/*===========================
    CUSTOMIZATIONS OF SWIPER MODULES
=============================*/
.swiper{
    --swiper-theme-color: @blue;

    //NAVIGATION
    --swiper-navigation-size: 32px;
    --swiper-navigation-sides-offset: 16px;


    //PAGINATION
    //--swiper-pagination-top: auto; //default is auto, needed only if different
    --swiper-pagination-bottom: 16px; //default is 8px
    --swiper-pagination-bullet-inactive-color: @white; //default #000
    --swiper-pagination-bullet-inactive-opacity: 0.8; //default 0.2
    --swiper-pagination-bullet-size: 12px; //default 8
    --swiper-pagination-bullet-horizontal-gap: 6px; //default 4
    //--swiper-pagination-color: @blue; //default is theme color, needed only if different

}