article.post{
    header.article-header{
        .title{ margin: 0; }
        margin-bottom: 15px;
    }
    .post-thumb-container{ margin: 15px 0; }
    .post-meta{ margin-top: 15px; }
    .more-wrapper{ margin-top: 15px; }
}//end artice.post

.article-list{
    article.post{
        margin: 30px 0;
        padding: 30px 0 0;
        border-top: 1px solid @gray-light;

        &:first-child{ margin-top: 0; padding-top: 0; border-top: 0; }

        .post-thumb-container{
            width: 30%;
            float: left;
            ~ * { margin-left: 30%; padding-left: 30px; }
        }

    }//end .article.post
}
