{% if gallery_images %}
	<div class="gallery-slideshow flexslider">
		<ul class="slides">
			{% for slide in gallery_images %}
				<li data-thumb="{{ TimberImage(slide.slide_image).src('thumbnail') }}">
					<img src="{{ TimberImage(slide.slide_image).src('gallery') }}" alt="{{ slide.slide_image.title }}">
          {% if slide.caption %}
          <div class="slide-caption">{{slide.slide_caption | striptags }}</div>
          {% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
