{% if slides %}
	<div class="gallery-slideshow flexslider">
		<ul class="slides">
			{% for slide in slides %}
				<li data-thumb="{{ TimberImage(slide.id).src('gallery') }}">
					<img src="{{ TimberImage(slide.id).src('gallery') }}" alt="{{ slide.alt }}">
					{% if slide.caption %}
						<div class="slide-caption">{{ slide.caption | striptags }}</div>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
