
<header class="site-header">
    <div class="container">

        <a class="logo" href="/" title="{{ site.name }}">{{ source('img/logo.svg') }}</a>

        <button class="menu-btn">
            <div class="toggle"><span></span><span></span><span></span><span></span></div>
            <span>Menu</span>
        </button>

        {% include 'partials/nav.twig' with { menu: primary_menu } only %}

    </div>
</header>