<dialog id="searchDialog" aria-label="Search Site" class="popup">
        
        <form role="search" method="get" class="popup-search-form" action="/" autocomplete="off">
            <label for="p-search" class="h3">Search</label>
            <div class="search-fields">
                <input autofocus type="text" value="{{ search_query }}" name="s" id="p-search" placeholder="Enter search term..." autocomplete="off" />
                <button type="submit" id="searchsubmit" class="btn" />search</button>
            </div>
        </form>

        <button id="btnCloseSearch" class="popup__close" aria-label="Close Search Dialog"><span aria-hidden="true">{{ source('img/icons/icon-close.svg') }}</span><span>Close</span></button>

</dialog>