<form role="search" method="get" id="searchform" class="searchform" action="/" autocomplete="off">
	<label for="s" class="screen-reader-text">Search</label>
	<div class="search-fields">
		<input type="text" value="{{ search_query }}" name="s" id="s" placeholder="Enter search term..." autocomplete="off" />
		<button type="submit" id="searchsubmit" class="btn btn--dark" />search</button>
	</div>
</form>
