.gallery-slideshow.flexslider{
    position: relative;
    overflow: hidden;

    margin: 20px 0;

    ul.slides{
      > li{
        position: relative;
        .slide-caption{
          padding: 20px;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background: rgba(red(@primary-color1), green(@primary-color1), blue(@primary-color1), .5);
          color: @white;
        }
      }
    }

}//end .gallery-slideshow.flexslider
