.hero-interior{
    display: grid;
    place-content: center;
    text-align: center;
    background: @blue;
    min-height: 30vh;
    padding-top: 50px;
    padding-bottom: 50px;
    .outer-gutter();

    h1{ color: @white; margin: 0; }
}