.post-taxonomy-list{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 18px;
    font-size: 1rem;

    .tax-list{
        display: flex;
        flex-flow: row wrap;
        column-gap: 16px;
        row-gap: 5px;
    }

}

.post-back{
    margin-top: 54px;
    padding-top: 40px;
    border-top: 2px solid @gray-f3;
    text-align: center;
}