.pattern--search{

    .search-title{ margin: 0; }
    .search-title-count{ font-size: 1rem; }

}

.search-results-list{ margin-top: 40px; }
.search-card{
	border-top: 2px solid @gray-f3;
    padding-top: 40px;
    margin-top: 40px;
}

